.notesList {
    width: 100%;
    position: relative;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }

    &__primary {
      background-color: var(--color-purple);
      margin: 0 1rem 0 0;
      border: none;
      transition:  background-color 0.25s;

      &:hover {
        background-color: var(--color-purple-light);
      }
    }
}