.notesList {
    position: relative;
    padding: 1.5rem;

    @media (min-width: 1024px) {
        width: 100%;
        padding: 0;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 0 1.5rem 0;

        @media (min-width: 1024px) {
            padding: 2rem;
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;

        @media (min-width: 1024px) {
            justify-content: flex-end;
        }
    
    }

    &__primary {
      background-color: var(--color-purple);
      border: none;
      transition:  background-color 0.25s;

      &:hover {
        background-color: var(--color-purple-light);
      }
    }
}